h1 {
    text-align: center;
}

img, p  {
    float: right;
    margin: 10px;
    padding: 10px;
    z-index: 1;
}

.CharacterButtonContainer {
    float:left;
}

.buttoncontainer {
     widows: 100%;
     display: flex; 
     align-items: center;
     justify-content: center;
     height: 100px; 
     align-content: center;  
     
}

.gifcontainer {
    width:100%;
    position: absolute;
    height: 100px; 
    align-content: center;  
}

